<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myVideo.lable" >

  <resultMap id="BaseResultMap" type="com.winterchen.model.LableExt">
    <result property="lableId" column="lable_id" />
    <result property="lableName" column="lable_name" />
    <result property="updateTime" column="update_time" />
  </resultMap>


  <select id="getLables" parameterType="com.winterchen.model.LableExt" resultMap="BaseResultMap">
      SELECT lable_id, lable_name, update_time
      FROM
        lable
  </select>

  <select id="addLable" parameterType="com.winterchen.model.LableExt">
      INSERT INTO lable(lable_id, lable_name)
      values(#{lableId}, #{lableName})
  </select>

</mapper>