<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winterchen.dao.VideoDao" >


  <resultMap id="BaseResultMap" type="com.winterchen.model.VideoExt">
    <result property="videoId" column="lable_id" />
    <result property="name" column="lable_name" />
    <result property="size" column="update_time" />
    <result property="videoType" column="update_time" />
    <result property="logo" column="update_time" />
    <result property="screenshot" column="update_time" />
    <result property="path" column="update_time" />
    <result property="definition" column="update_time" />
    <result property="designation" column="update_time" />
    <result property="describe" column="update_time" />
    <result property="uploadTime" column="update_time" />
    <result property="lssueTime" column="update_time" />
    <result property="updateTime" column="update_time" />
  </resultMap>


  <select id="getVideos" resultMap="BaseResultMap">
      SELECT *
      FROM
        video
  </select>

  <select id="getVideoByPerformer" parameterType="com.winterchen.model.LableExt" resultMap="BaseResultMap">
      SELECT * FROM video v
      left join performer p on
  </select>

</mapper>